<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<figure>
    <embed src="https://wakatime.com/share/@dcd07524-5d9c-4305-b490-0e525b89bdc6/2bd700e1-355e-4551-ab59-15d87656ca56.svg"></embed>
</figure>
<figure>
    <img src="http://ghchart.rshah.org/cechmanek" alt="Cechmanek's Github chart" />

</figure>
<!-- Hours Coded -->
<figure>
    <figure><embed src="https://wakatime.com/share/@dcd07524-5d9c-4305-b490-0e525b89bdc6/5fc6cf48-d686-4896-bfae-57048012255f.svg"></embed></figure>
</figure>